<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:theme="@style/Theme.AP4"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".Super_Smash_Bros_Ultimate"
            android:exported="false" />
        <activity
            android:name=".League_of_Legends_LEC"
            android:exported="false" />
        <activity
            android:name=".Rocket_League"
            android:exported="false" />
        <activity
            android:name=".Valorant"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ReservationActivity"
            android:exported="false"/>

        <activity android:name=".RechercheActivity"
            android:exported="false"/>

        <activity android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Register"/>

        <activity android:name=".AdherentsListActivity"
            android:exported="false"/>
        <activity android:name=".EditAdherentActivity"
            android:exported="false"/>

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />





    </application>

</manifest>